
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Web实操作业-曹鑫磊</title>
<!-- 页面设计：CP | 页面制作：CP | 创建：2025-08-29-->
<link rel="preload" href="//game.gtimg.cn/images/lpl/act/a20250822s15/font/DIN-Medium.otf" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="//game.gtimg.cn/images/lpl/act/a20250822s15/font/DIN-Bold.otf" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="stylesheet" href="//ossweb-img.qq.com/images/js/swiper/swiper-3.4.2.min.css">
<link rel="stylesheet" href="//lpl.qq.com/act/a20250822s15/css/index.css" media="screen and (min-device-width: 1025px)">
<link rel="stylesheet" href="//lpl.qq.com/act/a20250822s15/css/index-m.css" media="screen and (max-device-width: 1024px)">
</head>
<body>
<div class="wrapper">
	<!-- 封面 S -->
	<div class="start-box">
		<div class="start-t">
			<div class="start-swiper">
				<ul class="swiper-wrapper">
					<li class="swiper-slide">
						<div class="start-t-img start-t-img1"></div>
					</li>
					<li class="swiper-slide">
						<div class="start-t-img start-t-img2"></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="start-b">
			<div class="start-b-img"></div>
			<div class="start-logo"></div>
			<div class="start-tips page-scale">
				<i class="i-down"></i>
			</div>
		</div>
	</div>
	<!-- 封面 E -->
	<div class="tab-box swiper-container">
		<div class="swiper-wrapper">
			<!-- 直播 -->
			<div class="swiper-slide part1">
				<div class="part1-main">
					<div class="p1-video">
						<div class="video-contain" id="live-container"></div>
					</div>
					<div class="part-main">
						<div class="p1-l">
	                        <div class="p1-tit">
	                            <p><strong class="v-state"><span></span></strong>: <span class="v-title"></span></p>
	                        </div>
	                        <div class="video-content">
	                        	<div class="video-occupy"></div>
	                            <div class="adv-box pc-show">
	                                <img src="//game.gtimg.cn/images/lpl/act/a20250822s15/p1-adv.jpg" alt="广告图"/>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="p1-r">
	                        <div class="p1-tit pc-show">
	                            <p>赛事赛程</p>
	                        </div>
	                        <div class="matches-content onMove">
	                            <div class="matches-change">
	                                <a data-typeid="28" data-procId="990" href="javascript:;" onclick="LOLSendClickAT('btn','matches-change1','入围赛')">入围赛</a>
	                                <a data-typeId="77" data-procId="710" href="javascript:;" onclick="LOLSendClickAT('btn','matches-change2','瑞士轮')">瑞士轮</a>
	                                <a data-typeId="18" data-procId="870" href="javascript:;" onclick="LOLSendClickAT('btn','matches-change3','淘汰赛')">淘汰赛</a>
	                            </div>
	                            <div class="matches-into">
	                                <div class="swiper daySwiper" id="daySwiper">
	                                    <div class="swiper-wrapper"></div>
	                                </div>
	                                <div class="swiper-button-next day-btn-next"></div>
	                                <div class="swiper-button-prev day-btn-prev"></div>
	                            </div>
	                            <ul class="matches-list scroll-y" id="matches-list">
	                                <li class="nomessage">敬请期待</li>    
	                                <!-- 结束end 开始ing 未开始 不添加 -->
	                                
	                            </ul>
	                        </div>
	                    </div>
					</div>
				</div>
			</div>
			<!-- 主页 -->
			<div class="swiper-slide part0">
				<div class="part-main">
					<div class="p0-l">
						<div class="slogan-box">
							<p class="slogan"></p>
							<div class="p0-tab-btn mob-show">
								<a href="javascript:;" class="btn-p0tab on" onclick="LOLSendClickAT('btn','p0tab1','赛事介绍');">赛事介绍</a>
								<a href="javascript:;" class="btn-p0tab" onclick="LOLSendClickAT('btn','p0tab2','历届冠军');">历届冠军</a>
							</div>
						</div>
						<div class="p0-tab-cont">
							<div class="p0-tab-box slogan-info show">
								<p class="info-tit pc-show">赛事介绍</p>
								<p class="info-txt">英雄联盟全球总决赛，简称“全球总决赛”，是英雄联盟的顶级赛事，来自不同地区的顶尖队伍将争夺全球总冠军的头衔。全球总决赛于每年常规赛季结束后在各个地区轮流举办，来自全球各地区职业联赛的参赛队伍展开为期一个月的角逐。全球总决赛是全球规模最为盛大的游戏和体育项目之一。</p>
							</div>
							<div class="p0-tab-box p0-swiper1-box p0-swiper1-box1">
								<div class="p0-swiper1">
									<ul class="swiper-wrapper">
										<li class="swiper-slide">
											<div class="sw-top">
												<div class="img-box">
													<img src="//img.crawler.qq.com/lolwebvideo/20250618144525/49342dadcecf162e8ac94fad6eb91540/0" alt="队伍名"/>
												</div>
												<p>2023<br />季中冠军赛总冠军</p>
											</div>
											<div class="word-spr word1">
												<p>“这才是电竞精神”</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="p0-swiper1-switch">
									<a href="javascript:;" class="btn-prev"><span class="spr arr-l"></span></a>
									<a href="javascript:;" class="btn-next"><span class="spr arr-r"></span></a>
								</div>
							</div>
							<div class="p0-tab-box p0-swiper1-box p0-swiper1-box2">
								<div class="p0-swiper3">
									<ul class="swiper-wrapper">
										<li class="swiper-slide">
											<div class="p0-swiper3-ava">
												<div class="p0-swiper3-ava-box">
													<img src="" />
												</div>
												<p class="p1"></p>
												<p class="p2">官方 互动主持</p>
											</div>
											<div class="p0-swiper3-text">
												<p><span>文案</span></p>
											</div>
										</li>
										<li class="swiper-slide">
											<div class="p0-swiper3-ava">
												<div class="p0-swiper3-ava-box">
													<img src="" />
												</div>
												<p class="p1"></p>
												<p class="p2">官方 互动主持</p>
											</div>
											<div class="p0-swiper3-text">
												<p>文案</p>
											</div>
										</li>
										<li class="swiper-slide">
											<div class="p0-swiper3-ava">
												<div class="p0-swiper3-ava-box">
													<img src="" />
												</div>
												<p class="p1"></p>
												<p class="p2">官方 互动主持</p>
											</div>
											<div class="p0-swiper3-text">
												<p>文案</p>
											</div>
										</li>
										<li class="swiper-slide">
											<div class="p0-swiper3-ava">
												<div class="p0-swiper3-ava-box">
													<img src="" />
												</div>
												<p class="p1"></p>
												<p class="p2">官方 互动主持</p>
											</div>
											<div class="p0-swiper3-text">
												<p>文案</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="p0-swiper1-switch">
									<a href="javascript:;" class="btn-prev"><span class="spr arr-l"></span></a>
									<a href="javascript:;" class="btn-next"><span class="spr arr-r"></span></a>
								</div>
							</div>
						</div>
						<div class="p0-l-b">
							<p class="p0-tit1">2025英雄联盟</p>
							<p class="p0-tit2">全球总决赛重返中国！</p>
							<p class="p0-txt1">2025英雄联盟全球总决赛将重返中国，于10月14日至11月9日举行。全球观众将迎来数周的世界级对决和难忘时刻，并见证新一届世界冠军的诞生。</p>
						</div>
					</div>
					<div class="p0-r">
						<div class="p0-swiper2-box">
							<div class="p0-swiper2">
								<ul class="swiper-wrapper">
									<li class="swiper-slide">
										<div class="img-box">
											<img src="//game.gtimg.cn/images/lpl/act/a20250822s15/p0-sw2.jpg" alt="北京"/>
										</div>
										<div class="p0-r-b">
											<div class="scroll-box">
												<p class="p0-tit3 pc-show">入围赛与瑞士轮阶段 – 北京智慧电竞赛事中心</p>
												<p class="p0-tit3 mob-show"><span>入围赛与瑞士轮阶段</span>北京智慧电竞赛事中心</p>
												<p class="p0-txt2">本届全球总决赛将在北京智慧电竞赛事中心拉开帷幕，17支战队将为争夺召唤师奖杯展开激战。
													入围赛将于10月14日拉开帷幕，北京智慧电竞赛事中心是一个专为顶级电竞赛事打造的现代化场馆。
													这是该场馆首次承办全球总决赛的比赛，势必为现场带来震撼的电竞氛围。
													今年新增赛制：入围赛阶段，将在季中冠军赛表现最佳的两个赛区的四号种子队伍之间进行一场Bo5对决，胜者将晋级瑞士轮阶段。
													10月15日至25日，来自全世界的16支队伍将进行瑞士轮阶段的比赛。
													在动态赛制中展开角逐，每一场胜利都意味着离晋级淘汰赛阶段更近一步，而每一场失利都将带你走向淘汰边缘。</p>
											</div>
										</div>
									</li>
									<li class="swiper-slide">
										<div class="img-box">
											<img src="//game.gtimg.cn/images/lpl/act/a20250822s15/p0-sw1.jpg" alt="上海"/>
										</div>
										<div class="p0-r-b">
											<div class="scroll-box">
												<p class="p0-tit3 pc-show">淘汰赛阶段 - 上海梅赛德斯-奔驰文化中心</p>
												<p class="p0-tit3 mob-show"><span>淘汰赛阶段</span>上海梅赛德斯<br />奔驰文化中心</p>
												<p class="p0-txt2">10月28日至11月2日，8强队伍将前往上海标志性的梅赛德斯-奔驰文化中心，展开残酷的淘汰赛对决。
													作为上海首批获得“A级电竞场馆”认证的场地之一，梅赛德斯-奔驰文化中心不仅是中国顶级的电竞赛事舞台，也已成为亚洲知名的文化与娱乐地标。
													淘汰赛采用单淘汰制的Bo5赛制，每支队伍都将在此背水一战，冲击总决赛资格。
													更具挑战的是，英雄联盟全球总决赛历史上首次，四分之一决赛将无缝衔接至半决赛，中间不设休赛日。
													淘汰赛阶段将化身为一场毫无喘息空间的鏖战，唯有最强者才能突出重围、闯进最终的舞台！</p>
											</div>
										</div>
									</li>
									<li class="swiper-slide">
										<div class="img-box">
											<img src="//game.gtimg.cn/images/lpl/act/a20250822s15/p0-sw3.jpg" alt="成都"/>
										</div>
										<div class="p0-r-b">
											<div class="scroll-box">
												<p class="p0-tit3 pc-show">冠亚军决赛 – 成都东安湖体育公园多功能体育馆</p>
												<p class="p0-tit3 mob-show"><span>冠亚军决赛</span>成都东安湖体育公园多功能体育馆</p>
												<p class="p0-txt2">2025年全球总决赛冠亚军赛将于11月9日在东安湖体育公园多功能体育馆迎来最终决战。
													作为中国西部最现代化、最具设计感的体育场馆之一，这座场馆为年度巅峰之战提供了完美舞台。
													两支最终晋级的队伍将在此上演荣耀对决，争夺象征最高荣誉的召唤师奖杯。<br />
													无论您是亲临现场，还是在世界各地通过屏幕观看，今年的全球总决赛都将延续英雄联盟电竞15年来的热血与精彩，为大家带来激情与难忘的瞬间。</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="p0-swiper2-switch">
								<a href="javascript:;" class="btn-prev spr p0-prev"></a>
								<a href="javascript:;" class="btn-next spr p0-next"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 战队 -->
			<div class="swiper-slide part3">
				<div class="part-main">
					<div class="part3-cont-box">
						<ul>
							
						</ul>
					</div>
					<div class="part3-logo"></div>
				</div>
				<!--战队信息浮窗-->
				<div class="part3-info-box page-scale">
					<div class="part3-info-layer">
						<a href="javascript:void(0);" title="点击关闭" class="part3-info-close part3-mob-close" onclick="LOLSendClickAT('btn','part3close','战队信息浮窗点击关闭');"></a>
						<div class="part3-info-team">
							<div class="part3-info-region-logo">
								<img src="//game.gtimg.cn/images/lpl/act/a20250822s15/team-logo/lpl-pop.png" alt="lpl" />
							</div>
							<div class="part3-info-team-logo">
								<img src="//game.gtimg.cn/images/lpl/act/a20250822s15/team-logo/blg-pop.png" alt="blg" />
							</div>
							<div class="part3-info-team-name">
								<p>-</p>
							</div>
							<div class="part3-info-team-coach">
								<div>
									
								</div>
							</div>
							<a href="javascript:void(0);" title="点击关闭" class="part3-info-close part3-pc-close" onclick="LOLSendClickAT('btn','part3close','战队信息浮窗点击关闭');"></a>
						</div>
						<div class="part3-info-pic">
							<ul>
								<li>
									<img src="#" />
								</li>
							</ul>
						</div>
						<div class="part3-info-player">
							<ul>
								<li class="first">
									<p class="p1">选手ID</p>
									<p class="p2">选手位置</p>
								</li>
								<li>
									<p class="p1">选手ID</p>
									<p class="p2"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/place1.png" alt="位置" /></p>
								</li>
							</ul>
						</div>
						<div class="part3-info-foot">
							
						</div>
					</div>
				</div>
			</div>
			<!-- 赛况 -->
			<div class="swiper-slide part2">
				<div class="part-main">
					<div class="part2-tab-box">
						<a href="javascript:void(0);" title="入围赛" class="cur" onclick="LOLSendClickAT('btn','part2tab1','赛况入围赛')"><span>入围赛</span><i></i></a>
						<a href="javascript:void(0);" title="瑞士轮" onclick="LOLSendClickAT('btn','part2tab2','赛况瑞士轮')"><span>瑞士轮</span><i></i></a>
						<a href="javascript:void(0);" title="淘汰赛" onclick="LOLSendClickAT('btn','part2tab3','赛况淘汰赛')"><span>淘汰赛</span><i></i></a>
					</div>
					<div class="part2-tab-cont matches-box">
						<!--入围赛 S-->
						<div class="part2-tab-item part2-tab-item1" style="display: block;">
							<div class="qualifyingMatch">
								<div class="matches-a1" id="matches-a1-list" >
								
								</div>
							</div>
						</div>
						<!--入围赛 E-->
						<!--瑞士轮 S-->
						<div class="part2-tab-item part2-tab-item2">
							<div class="swissWheel act1">
								<ul class="wheel-tab wheel-tab-pc act1">
									<li class="act">BO1</li>
									<li class="">BO3</li>
								</ul>
								<ul class="wheel-tab-mob">
									<li>第一轮</li>
									<li>第二轮</li>
									<li>第三轮</li>
									<li>第四轮</li>
									<li>第五轮</li>
								</ul>
								<div class="wheel-conter">
									<div class="wheel-bo1-info">
										<div class="wheel-bo1">
											<div class="wheelBox1">
												<div class="infoA wheelBox-info">
													<p class="wheelBox-title"></p>
												</div>
												<div id="wheelBox1">
												</div>
											</div>
											<div class="wheelBox2">
												<div class="infoA wheelBox-info">
													<p class="wheelBox-title"></p>
												</div>
												<div class="infoB wheelBox-info">
													<p class="wheelBox-title"></p>
												</div>
												<div id="wheelBox2">
												
												</div>
											</div>
											<div class="wheelBox3" >
												<div class="infoA wheelBox-info">
													<p class="wheelBox-title"></p>
												</div>
												<div class="infoB wheelBox-info">
													<p class="wheelBox-title"></p>
												</div>
												<div class="infoC wheelBox-info">
													<p class="wheelBox-title"></p>
												</div>
												<div id="wheelBox3">
											
												</div>
											</div>
											<div class="wheelBox4" >
												<div class="infoA wheelBox-info">
													<p class="wheelBox-title"></p>
												</div>
												<div class="infoB wheelBox-info">
													<p class="wheelBox-title"></p>
												</div>
												<div id="wheelBox4"></div>
											</div>
											<div class="wheelBox5" >
												<div class="infoA wheelBox-info">
													<p class="wheelBox-title"></p>
												</div>
												<div id="wheelBox5"></div>
											</div>
										</div>
										<div class="wheelResult">
											<div class="resultBox bePromoted resultBox1" id="resultBox1">
											</div>
											<div class="resultBox bePromoted resultBox2" id="resultBox2">
											</div>
											<div class="resultBox bePromoted resultBox3" id="resultBox3">
											</div>
											<div class="resultBox weedOut resultBox4" id="resultBox4">
											</div>
											<div class="resultBox weedOut resultBox5" id="resultBox5">
											</div>
											<div class="resultBox weedOut resultBox6" id="resultBox6">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--瑞士轮 E-->
						<!--淘汰赛 S-->
						<div class="part2-tab-item part2-tab-item3">
							<div class="knockoutMatch">
								<div class="knockoutMatch-item">
									<p class="knockoutMatch-item-txt"><span>四分之一决赛</span></p>
									<div class="knockoutBoxA" id="knockoutBoxA">
									</div>
								</div>
								<div class="knockoutMatch-item">
									<p class="knockoutMatch-item-txt"><span>半决赛</span></p>
									<div class="knockoutBoxB" id="knockoutBoxB">
									</div>
								</div>
								<div class="knockoutMatch-item">
									<p class="knockoutMatch-item-txt"><span>决赛</span></p>
									<div class="knockoutBoxC" id="knockoutBoxC">
									</div>
								</div>
							</div>
						</div>
						<!--淘汰赛 E-->
					</div>
				</div>
			</div>
			<!-- 更多 -->
			<div class="swiper-slide part4">
				<div class="part-main">
					<div class="part4-sw">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<a href="https://lol.qq.com/act/a20250930skins/index.html?#section5" target="_blank" title="点击查看" onclick="LOLSendClickAT('btn','morelink1','更多链接1');">
									<div class="part4-pic"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/part4-img1.jpg" alt="2025全球总决赛赵信限时销售" /></div>
									<div class="part4-info">
										<div class="part4-info-text">
											<p>2025全球总决赛赵信<br />限时销售</p>
										</div>
										<div class="part4-info-go">立即前往</div>
										<div class="part4-spr part4-icon"></div>
									</div>
								</a>
							</li>
							<li class="swiper-slide">
								<a href="https://lol.qq.com/act/a20251010worldsevent/index.html" target="_blank" title="点击查看" onclick="LOLSendClickAT('btn','morelink2','更多链接2');">
									<div class="part4-pic"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/part4-img2.jpg" alt="“争者留其名”活动口令码赢决赛门票等好礼" /></div>
									<div class="part4-info">
										<div class="part4-info-text">
											<p>“争者留其名”活动<br />口令码赢决赛门票等好礼</p>
										</div>
										<div class="part4-info-go">立即前往</div>
										<div class="part4-spr part4-icon"></div>
									</div>
								</a>
							</li>
							<li class="swiper-slide">
								<a href="javascript:void(0);" title="点击查看" onclick="LOLSendClickAT('btn','morelink3','更多链接3');TGDialogS('pop-qrcode1');">
									<div class="part4-pic"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/part4-img3.jpg" alt="英雄联盟赛事助手一站式AI信息体验" /></div>
									<div class="part4-info">
										<div class="part4-info-text">
											<p>英雄联盟赛事助手<br />一站式AI信息体验</p>
										</div>
										<div class="part4-info-go">立即前往</div>
										<div class="part4-spr part4-icon"></div>
									</div>
								</a>
							</li>
							<li class="swiper-slide">
								<a href="https://lol.qq.com/act/a20250930zdbq/index.html" target="_blank" title="点击查看" onclick="LOLSendClickAT('btn','morelink4','更多链接4');">
									<div class="part4-pic"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/part4-img4.jpg" alt="LPL战队共创表情限时销售" /></div>
									<div class="part4-info">
										<div class="part4-info-text">
											<p>LPL战队共创表情<br />限时销售</p>
										</div>
										<div class="part4-info-go">立即前往</div>
										<div class="part4-spr part4-icon"></div>
									</div>
								</a>
							</li>
							<li class="swiper-slide">
								<a href="https://h5.igame.qq.com/pmd-mobile.netbar.xiaoka.a20251001lol/index" target="_blank" title="点击查看" onclick="LOLSendClickAT('btn','morelink9','更多链接9');">
									<div class="part4-pic"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/part4-img9.jpg" alt="特权网吧观赛助威抽专属豪礼" /></div>
									<div class="part4-info">
										<div class="part4-info-text">
											<p>特权网吧观赛助威<br />抽专属豪礼</p>
										</div>
										<div class="part4-info-go">立即前往</div>
										<div class="part4-spr part4-icon"></div>
									</div>
								</a>
							</li>
							<li class="swiper-slide">
								<a href="https://jcc.qq.com/act/a20250930competition/index.html" target="_blank" title="点击查看" onclick="LOLSendClickAT('btn','morelink5','更多链接5');">
									<div class="part4-pic"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/part4-img5.jpg" alt="2025全球总决赛金铲铲之战福利站" /></div>
									<div class="part4-info">
										<div class="part4-info-text">
											<p>2025全球总决赛<br />金铲铲之战福利站</p>
										</div>
										<div class="part4-info-go">立即前往</div>
										<div class="part4-spr part4-icon"></div>
									</div>
								</a>
							</li>
							<li class="swiper-slide">
								<a href="javascript:void(0);" title="点击查看" onclick="LOLSendClickAT('btn','morelink6','更多链接6');TGDialogS('pop-qrcode');">
									<div class="part4-pic"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/part4-img6.jpg" alt="LOL手游 助威LPL抽决赛门票！机酒全包！" /></div>
									<div class="part4-info">
										<div class="part4-info-text">
											<p>LOL手游 助威LPL<br />抽决赛门票！机酒全包！</p>
										</div>
										<div class="part4-info-go">立即前往</div>
										<div class="part4-spr part4-icon"></div>
									</div>
								</a>
							</li>
							<li class="swiper-slide">
								<a href="https://lolriotmall.qq.com/act/a20250808ARCANEYYX/index.html" target="_blank" title="点击查看" onclick="LOLSendClickAT('btn','morelink7','更多链接7');">
									<div class="part4-pic"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/part4-img7.jpg" alt="双城之战浸入式音乐秀开启预约" /></div>
									<div class="part4-info">
										<div class="part4-info-text">
											<p>双城之战浸入式音乐秀<br />开启预约</p>
										</div>
										<div class="part4-info-go">立即前往</div>
										<div class="part4-spr part4-icon"></div>
									</div>
								</a>
							</li>
							<li class="swiper-slide">
								<a href="https://lol.qq.com/news/detail.shtml?docid=12779290143438249082" target="_blank" title="点击查看" onclick="LOLSendClickAT('btn','morelink8','更多链接8');">
									<div class="part4-pic"><img src="//game.gtimg.cn/images/lpl/act/a20250822s15/part4-img8.jpg" alt="《双城之战》电音狂欢派对三站火热售卖" /></div>
									<div class="part4-info">
										<div class="part4-info-text">
											<p style="text-indent: -10px;">《双城之战》电音狂欢派对<br />三站火热售卖</p>
										</div>
										<div class="part4-info-go">立即前往</div>
										<div class="part4-spr part4-icon"></div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="part4-arrow-box">
						<a href="javascript:void(0);" title="上一页" class="part4-prev" onclick="LOLSendClickAT('btn','part4prev','更多上一个');">
							<em class="part4-spr part4-prev-icon1 def"></em>
							<em class="part4-spr part4-prev-icon2 hov"></em>
						</a>
						<div class="part4-scrollbar"></div>
						<a href="javascript:void(0);" title="上一页" class="part4-next" onclick="LOLSendClickAT('btn','part4next','更多下一个');">
							<em class="part4-spr part4-next-icon1 def"></em>
							<em class="part4-spr part4-next-icon2 hov"></em>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="afooter" style="display: none;"></div>
	<div class="logo-box">
		<a href="javascript:;" class="logo page-scale" onclick="LOLSendClickAT('btn','logo','logo');"></a>
		<a href="javascript:;" class="logo2 page-scale" onclick="LOLSendClickAT('btn','logo2','logo2');"></a>
	</div>
	
	<!-- 顶部导航 -->
	<div class="header">
		<div class="top-logo">
			<a href="javascript:;" class="logo-l page-scale" onclick="LOLSendClickAT('btn','logo-l','logo-l');"></a>
			<a href="javascript:;" class="logo-r page-scale" onclick="LOLSendClickAT('btn','logo-r','logo-r');"></a>
		</div>
		<ul class="top-nav">
			<li class="btn-nav btn-nav1 on" onclick="LOLSendClickAT('btn','nav1','直播');">
				<p>直播</p>
				<span>live</span>
			</li>
			<li class="btn-nav btn-nav2" onclick="LOLSendClickAT('btn','nav2','总览');">
				<p>总览</p>
				<span>overview</span>
			</li>
			<li class="btn-nav btn-nav3" onclick="LOLSendClickAT('btn','nav3','战队');">
				<p>战队</p>
				<span>team</span>
			</li>
			<li class="btn-nav btn-nav4" onclick="LOLSendClickAT('btn','nav4','赛况');">
				<p>赛况</p>
				<span>events</span>
			</li>
			<li class="btn-nav btn-nav5" onclick="LOLSendClickAT('btn','nav5','活动');">
				<p>活动</p>
				<span>more</span>
			</li>
		</ul>
	</div>
	
	<!-- 侧边导航 -->
	<div class="side-bar page-scale">
		<p class="txt1">part</p>
		<p class="cur">0<span>1</span></p>
		<p class="total">/&nbsp;&nbsp;0<span>5</span></p>
		<p class="txt-zh">直播</p>
		<p class="txt-en">live</p>
	</div>
</div>

<!-- 弹窗 S -->
<div class="pop pop_video" id="pop_video">
    <div class="pop_video_cont">
        <div id="popVideoCon"></div>
    </div>
    <a class="comm-spr pop-close" href="javascript:closeDialog();" title="关闭弹窗" onclick="LOLSendClickAT('btn','pop-close','关闭弹窗');"></a>
</div>
<div class="pop pop-qrcode" id="pop-qrcode">
	<a class="pop-qrcode-close" href="javascript:closeDialog();" title="关闭弹窗" onclick="LOLSendClickAT('btn','pop-close1','关闭弹窗1');"></a>
	<div class="pop-qrcode-text">
		<em></em><span>本活动请扫码前往移动端参与</span><em></em>
	</div>
	<div class="pop-qrcode-cont">
		<img src="//game.gtimg.cn/images/lpl/act/a20250822s15/pop-qr1.png" />
	</div>
</div>
<div class="pop pop-qrcode" id="pop-qrcode1">
	<a class="pop-qrcode-close" href="javascript:closeDialog();" title="关闭弹窗" onclick="LOLSendClickAT('btn','pop-close1','关闭弹窗1');"></a>
	<div class="pop-qrcode-text">
		<em></em><span>本活动请扫码前往移动端参与</span><em></em>
	</div>
	<div class="pop-qrcode-cont">
		<img src="//game.gtimg.cn/images/lpl/act/a20250822s15/pop-qr2.jpg" />
	</div>
</div>

<!-- 赛程视频表 -->
<script id="matches-template" type="text/html">
	{{each item}}
	{{if $value.MatchStatus == "2"}}
	<li class="ing">
	{{else if $value.MatchStatus == "3"}}
	<li class="end">
	{{else}}
	<li>
	{{/if}}
		<div class="matches-time-content">
			<p class="matches-time-date">{{$value.timeDateText}}</p>
			<p class="matches-time-hour">{{$value.mathHour}}</p>
			{{if $value.MatchStatus == "2"}}
			<p class="matches-state">进行中</p>
			{{else if $value.MatchStatus == "3"}}
			<p class="matches-state">已结束</p>
			{{else}}
			<p class="matches-state">未开始</p>
			{{/if}}
		</div>
		<div class="matches-team">
			<div class="matches-team-ni">
				<img src="{{$value.teamALogo}}" alt="">
				<p>{{$value.teamAName}}</p>
			</div>
			<div class="matches-score">
				<p>
					{{if $value.ScoreA > $value.ScoreB}}
					<i class="on">{{$value.ScoreA}}</i> <em>:</em> <i>{{$value.ScoreB}}</i>
					{{else if $value.ScoreA < $value.ScoreB}}
					<i>{{$value.ScoreA}}</i> <em>:</em> <i class="on">{{$value.ScoreB}}</i>
					{{else}}
					<i>{{$value.ScoreA}}</i> <em>:</em> <i>{{$value.ScoreB}}</i>
					{{/if}}
				</p>
				{{if $value.MatchStatus == "2"}}
				{{else if $value.MatchStatus == "3"}}
				<span>
					{{if $value.NewsId == 0}}
					<a class="btn-matches-video" href="javascript:;" onclick="LOLSendClickAT('btn','matches-video4-{{$value.videoIdx}}','视频更新中')">视频更新中</a>
					{{else}}
					<a class="btn-matches-video matches-video-show" data-index="{{$index}}" data-bmatchid="{{$value.bMatchId}}"  href="javascript:;" onclick="LOLSendClickAT('btn','matches-video3-{{$value.videoIdx}}','全场回放')">全场回放</a>
					{{/if}}
				</span>
				{{else}}
				<span>敬请期待</span>
				{{/if}}
			</div>
			<div class="matches-team-ni">
				<img src="{{$value.teamBLogo}}" alt="">
				<p>{{$value.teamBName}}</p>
			</div>
		</div>
	</li>
	{{/each}}
</script>
<!-- 入围赛 第一轮 -->
<script id="round-group-template" type="text/html">
	{{each item}}
		<div class="matches-a1-one">
			{{if $value.MatchStatus=="2"}}
			<div class="matches-info act">
			{{else}}
			<div class="matches-info">
			{{/if}}
				<p class="matches-time-box">
					<span class="timeQuantum">{{$value.timeDate}} {{$value.timeHour}}</span>
					<!--span>{{$value.GameModeName}}</span-->
				</p>
			</div>
			{{ if $value.ScoreA > $value.ScoreB }}
			<div class="matches-TeamScore teamScoreA big">
				{{else}}
			<div class="matches-TeamScore teamScoreA">
				{{/if}}
				<div class="teamScore-imgName">
					<img src="{{$value.teamALogo}}" alt="">
					<span>{{$value.teamAName}}</span>
				</div>
				<span class="teamScore">{{$value.ScoreA}}</span>
			</div>
			{{if $value.ScoreA < $value.ScoreB}}
			<div class="matches-TeamScore teamScoreB big">
				{{else}}
			<div class="matches-TeamScore teamScoreB">
				{{/if}}
				<div class="teamScore-imgName">
					<img src="{{$value.teamBLogo}}" alt="">
					<span>{{$value.teamBName}}</span>
				</div>
				<span class="teamScore">{{$value.ScoreB}}</span>
			</div>
		</div>
		<div class="matches-a1-win">
			<div class="matches-win-title">
				<p>晋级瑞士轮</p>
			</div>
			<div class="matches-TeamScore">
				<div class="teamScore-imgName">
					{{ if $value.ScoreA > $value.ScoreB }}
					<img src="{{$value.teamALogo}}" alt="">
					<span>{{$value.teamAName}}</span>
					{{else if $value.ScoreA < $value.ScoreB}}
					<img src="{{$value.teamBLogo}}" alt="">
					<span>{{$value.teamBName}}</span>
					{{else}}
					<img src="//img.crawler.qq.com/lolwebvideo/20171204150327/6fa86a8e4d50f72b5fb016beb8492153/0" alt="">
					<span>待定</span>
					{{/if}}
				</div>
			</div>
		</div>
	{{/each}}
</script>

<!-- 淘汰赛模板 八强 - 半决赛 - 决赛  -->
<script id="knockout-template" type="text/html">	
	{{each item}}
	{{if $value.MatchStatus == "2"}}
	<div class="knockInfo act">
		{{else}}
		<div class="knockInfo">
		{{/if}}
		<div class="knock-title">
			<p class="k-time-state">
				<span class="k-time">{{$value.timeDate}} {{$value.timeHour}}</span>
			</p>
			{{if $value.MatchStatus == "2"}}
			<a href="javascript:;" class="gameBroadcast-state">正在直播</a>
			{{else if $value.MatchStatus == "3"}}
			<a class="btn-playback knock-viewPlayback gameBroadcast-state" target="_blank" href="//lpl.qq.com/es/video_detail.shtml?nid={{$value.NewsId}}&amp;bMatchId={{$value.bMatchId}}" onclick="ReportEvent('btn','playback{{$value.bMatchId}}','回放')">查看回放</a></span>
			<!-- <a class="btn-playback knock-viewPlayback gameBroadcast-state" href="javascript:;" >已结束</a></span> -->
			{{else}}
			<a href="javascript:;" class="gameBroadcast-state knock-viewPlayback">敬请期待</a>
			{{/if}}
		</div>
		<div class="knock-team">
			<!-- ACT  -->
			{{if $value.ScoreA > $value.ScoreB}}
			<div class="k-teamA act">
		  {{else}}
				<div class="k-teamA">
			{{/if}}
				<div class="kt-name">
					<img src="{{$value.teamALogo}}" alt="">
					<span>{{$value.teamAName}}</span>
				</div>
				<span class="kt-num">{{$value.ScoreA}}</span>
			</div>
			{{if $value.ScoreA < $value.ScoreB}}
			<div class="k-teamB act">
			{{else}}
			<div class="k-teamB ">
			{{/if}}
				<div class="kt-name">
					<img src="{{$value.teamBLogo}}" alt="">
					<span>{{$value.teamBName}}</span>
				</div>
				<span class="kt-num">{{$value.ScoreB}}</span>
			</div>
		</div>
	</div>
	{{/each}}
</script>
<!-- 瑞士轮 -->
<script id="round-swiss-template" type="text/html">
	{{each item}}
		<div class="wheelBoxTeam">
			{{ if $value.ScoreA > $value.ScoreB }}
				<div class="wheelBoxTeamA on"><img src="{{$value.teamALogo}}" alt=""><span>{{$value.teamAName}}</span></div>
					<p class="wheelScore">
						<span  class="on">{{$value.ScoreA}}</span>
						<span>:</span>
						<span>{{$value.ScoreB}}</span>
					</p>
				<div class="wheelBoxTeamB">
					<span>{{$value.teamBName}}</span>
					<img src="{{$value.teamBLogo}}" alt="">
				</div>
				{{else if $value.ScoreA < $value.ScoreB}}
				<div class="wheelBoxTeamA"><img src="{{$value.teamALogo}}" alt=""><span>{{$value.teamAName}}</span></div>
					<p class="wheelScore">
						<span >{{$value.ScoreA}}</span>
						<span>:</span>
						<span class="on">{{$value.ScoreB}}</span>
					</p>
				<div class="wheelBoxTeamB on">
					<span>{{$value.teamBName}}</span>
					<img src="{{$value.teamBLogo}}" alt="">
				</div>
				{{else}}
				<div class="wheelBoxTeamA"><img src="{{$value.teamALogo}}" alt=""><span>{{$value.teamAName}}</span></div>
					<p class="wheelScore">
						<span>{{$value.ScoreA}}</span>
						<span>:</span>
						<span>{{$value.ScoreB}}</span>
					</p>
				<div class="wheelBoxTeamB">
					<span>{{$value.teamBName}}</span>
					<img src="{{$value.teamBLogo}}" alt="">
				</div>
			{{/if}}
		</div>
	{{/each}}
</script>
<script src="//js.aq.qq.com/js/aq_common.js"></script>
<script src="//game.gtimg.cn/images/js/jquery/jquery-1.11.3.min.js"></script>
<script src="//game.gtimg.cn/images/js/2018foot/foot.js"></script>
<script src="//vm.gtimg.cn/thumbplayer/superplayer/superplayer.js" charset="utf-8"></script>
<script src="//ossweb-img.qq.com/images/js/ArtTemplate.js" charset="utf-8"></script>
<script src="//gameact.qq.com/comm-htdocs/js/game_area/lol_server_select.js"></script>
<script src="//game.gtimg.cn/images/js/milo-next/latest/milo.gbk.min.js"></script>
<script src="//lol.qq.com/m/public/Activity_Comm.js"></script>
<script src="//ossweb-img.qq.com/images/js/swiper/swiper-3.4.2.min.js"></script>
<script src="//ossweb-img.qq.com/images/js/livelink/livelink.p2p.min.js" charset="utf-8"></script>
<script src="//lpl.qq.com/web201612/data/LOL_MATCH2_TEAM_LIST.js"></script>
<!-- 拿到当前时间 -->
<script src="//apps.game.qq.com/CommArticle/app/reg/gdate.php"></script>
<script src="//lol.qq.com/jssdk/dist/lib/full.js" charset="utf-8"></script>
  <script>
      // 取出需要的模块
	  const {
        		LOLAPP
        	} = LOL
        	// 移动端执行
        	// 初始化分享
        	const sharePrimary = () => {
        		//QTLTools.SetTitle('2025全球总决赛')
        		QTLTools.SetShare({
        			url: location.href,
        			title: '2025全球总决赛',
        			content: '2025英雄联盟全球总决赛标志着一个历史性的里程碑时刻：英雄联盟赛事15周年。全球总决赛是竞技的巅峰，来自全世界各大联赛的顶尖队伍将在这里争夺最高荣耀。今年，全球总决赛重返中国，主题为争者留其名——这不仅是对所有职业选手的号召，更是一声振奋人心的鼓舞。因为伟大从不源于等待，而是源于奋力争取。过去15年，一个个令人难忘的时刻，决定了选手们的职业生涯，鼓舞各赛区力争上游，也书写着电竞运动的历史。今天，开启新篇章的机会，就握在下一代传奇的手中。',
        			thumb_url: 'https://game.gtimg.cn/images/lpl/act/a20250822s15/share.jpg',
        			callback: function(channel) {
        				console.log('点击了原生分享:', channel)
        			},
        		})
        	}
        	LOLAPP.initAPP()
        	.then(() => {
        		setTimeout('sharePrimary()', 500)
        	})
        	.catch(e => console.log(e))
  </script>
<script src="//lpl.qq.com/web201612/data/LOL_MATCH2_GAME_229_PROC_INFO_NEW.js"></script>
<script src="//lpl.qq.com/web201612/data/LOL_MATCH2_GAME_229_GAMETYPE_INFO.js"></script>
<!-- 直播号 -->
<script src="//lpl.qq.com/web201612/data/LOL_MATCH2_LIVE_BMATCH_LIST.js"></script>
<!-- 战队数据 -->
<script src="//lpl.qq.com/act/a20250822s15/js/team-data.js"></script>
<script src="//lpl.qq.com/act/a20250822s15/js/relativeTime.js"></script>
<script src="//lpl.qq.com/act/a20250822s15/js/dayjs.min.js"></script>
<script src="//lpl.qq.com/act/a20250822s15/js/data.js"></script>
<script src="//lpl.qq.com/act/a20250822s15/js/rander.js"></script>
<script src="//lpl.qq.com/act/a20250822s15/js/index.js"></script>
<script src="//game.gtimg.cn/images/js/plugin/report/atReport.js" charset="UTF-8"></script>
<script>
//此段代码不能放到外链JS中，
var setSite={ //设置网站属性 
	siteType:"a20250822s15", //必填项:"os"代表是官网，如果不是，则填写actName例如a20160701xxx
	pageType:"index", //必填项:本页面的定位；按照页面含义填写例如main||list||detail||download||share||page1||pageN,不支持点(.)、下划线(_)
	project:"other", //选填项:如果是官网模块则是必填;按照模块内容，填写固定的对应值;官网或微社区base;同人站doujin;赛事match;故事站story;文化站history;粉丝站fans;爆料站coming;论坛bbs;皮肤skin;默认other;
	ingame: false,//选填项:默认根据浏览器类型获取是否属于游戏内，因英雄联盟端游客户端特殊性，所以英雄联盟端游客户端需求需要填写true.
	autoClick: false,//是否自动上报按钮&a的点击。选填项：默认false。非必要不开启
	autoAreaStay: false,//是否自动上报dom中填写dt-areaid的区域停留时长。选填项：默认false。非必要不开启
};
if(typeof LOL_SEND_DATA_FN_AT == 'function'){
	LOL_SEND_DATA_FN_AT();
};
</script>
</body>
</html>


